pkgbase = bellforge-bin
	pkgdesc = Native Arch Linux kettlebell training timer with Obsidian Markdown logging (prebuilt binary)
	pkgver = 0.1.1
	pkgrel = 1
	url = https://github.com/blast9649/bellforge
	arch = x86_64
	license = MIT OR Apache-2.0
	depends = alsa-lib
	depends = dbus
	depends = gcc-libs
	depends = glibc
	optdepends = obsidian: for viewing exported workout logs
	optdepends = xdg-desktop-portal: for native file dialogs
	provides = bellforge
	conflicts = bellforge
	source = bellforge-0.1.1-x86_64::https://github.com/blast9649/bellforge/releases/download/v0.1.1/bellforge-x86_64-unknown-linux-gnu
	source = bellforge-0.1.1.desktop::https://raw.githubusercontent.com/blast9649/bellforge/v0.1.1/bellforge.desktop
	source = bellforge-0.1.1.svg::https://raw.githubusercontent.com/blast9649/bellforge/v0.1.1/assets/icon.svg
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP

pkgname = bellforge-bin
